<%- include('partials/header') %>

  <section class="main-page">
    <h1><%= title %></h1>
    <h3>Let's track some food!!!</h3>
    <h3>And maybe even... make some recipes???</h3>

<%- include('partials/footer') %>