<%- include('partials/header') %>

  <section class="main-page">
    <h1><%= title %></h1>
  </section>
  <div class="kitchen-container">
    <section class="kitchen-fridge">
      <a href="/items/Fridge">Fridge</a>
    </section>
    <section class="kitchen-freezer">
      <a href="/items/Freezer">Freezer</a>
    </section>
    <section class="kitchen-pantry">
      <a href="/items/Pantry">Pantry</a>
    </section>
    <section class="kitchen-supplies">
          <a href="/items/Supplies">Supplies</a>
    </section>
    <section class="kitchen-recipes">
          <a href="/recipes">Recipes</a>
    </section>
  </div>

<%- include('partials/footer') %>