<%- include('partials/header') %>

  <section class="main-page">
    <h1><%= title %></h1>
  </section>
  <div>
    <nav class="tempbar">
      <ul>
        <li class="nav-item">
          <a href="/items/Fridge">Fridge</a>
        </li>
        <li class="nav-item">
          <a href="/items/Freezer">Freezer</a>
        </li> 
        <li class="nav-item">
          <a href="/items/Pantry">Pantry</a>
        </li> 
        <li class="nav-item">
          <a href="/items/Supplies">Supplies</a>
        </li>
        <li class="nav-item">
          <a href="/recipes">Recipes</a>
        </li> 
      </ul>
</nav>
  </div>

<%- include('partials/footer') %>