<%- include('partials/header') %>

  <section class="main-page">
    <h1><%= title %></h1>
  </section>
  <div class="kitchen-container">
          <a class="kitchen-fridge" href="/items/fridge">Fridge</a>
          <a class="kitchen-freezer" href="/items/freezer">Freezer</a>
          <a class="kitchen-pantry" href="/items/pantry">Pantry</a>
          <a class="kitchen-supplies" href="/items/supplies">Supplies</a>
          <a class="kitchen-recipes" href="/recipes">Recipes</a>
  </div>

<%- include('partials/footer') %>