<%- include('../partials/header') %>
<% let location = '' %>
    <h1 class="add-item">Add Item</h1>
    <form action='' id='form' class='new'  method="POST">
        <label>Item</label>
            <input type="text" name="item" autocomplete="off" required>
        <label>Quantity </label>
            <input type="number" name="quantity" autocomplete="off" required>
        <label>Expires On </label>
            <input type="date" name="expiration" autocomplete="off">
        <label>Location </label>
            <select name="location" id='location' required>
                <option value=""></option>
                <option value="Fridge">Fridge</option>
                <option value="Freezer">Freezer</option>
                <option value="Pantry">Pantry</option>
                <option value="Supplies">Supplies</option>
            </select>
        <label>Category </label>
            <select name="category" id="category" required></select>
            <button type='submit' class="add">Add Item</button>
    </form>
<%- include('../partials/footer') %>