body {
  font-size: 18px;
  font-family: 'Shadows Into Light Two', cursive;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}
.main-page {
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: #C0C0C0;
}
.navbar, .locationbar > ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2px;
}
.navbar{
  background-color: #6DBDE6;
}
.navbar > a, .locationbar > ul > li > a {
  color: white;
}
.locationbar > ul {
  list-style-type: none;
  background-color: #F39883;
  margin-bottom: 20px;
}
a > #edit-form {
  text-decoration: none;
}
.table {
  border: 1px solid #767676;
  display: grid;
  width: 1350px;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  grid-template-columns: 1fr;
}
#fridge-body, #freezer-body {
  grid-template-rows: 1fr 1fr 1fr;
  height: 600px;
}
#pantry-body {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#supplies-body {
  grid-template-rows: 1fr 1fr;
  height: 400px;
}
.row {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
}
.cell {
  border: 1px solid #767676;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  color: #86C5D8;
}
.cell > ul {
  margin: 1px 0;
  padding: 1px 1px 1px 20px;
}
.cell > ul > li > a > button {
  color: #6DBDE6;
}
.cell > ul > li > form > button {
  color: #F39883;
}
.cell > ul > li > a > button, .cell > ul > li > form > button {
  border: 0;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0;
}
#delete-form, #edit-form {
  display: inline;
}
#fridge, #freezer, #pantry, #supplies {
  background-color: #86C5D8;
  color: white;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
h1.odd, h1.even {
  font: 40px 'Fredoka One', cursive;
  font-weight: 100;
  text-shadow: -1px 3px 0 black, 1px 3px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin: 5px 20px;
  padding: 5px;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}
.odd {
  background-color: #6DBDE6;
  transform: rotate(20deg);
}
.even {
  background-color: #F39883;
  transform: rotate(340deg);
}
.h2-item {
  background-color: #C0C0C0;
  color: white;
  text-align: center;
  text-decoration: underline;
  padding: 1px 1px;
  margin: 0;
  grid-column: 1 / 3;
  border-bottom: 2px solid #767676;
}
.recipe-container {
  height: 500px;
  width: 750px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.recipe {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #6DBDE6;
  justify-content: center;
  align-items: center;
  margin: 15px auto;

}
.recipe > a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.kitchen-container {
  border: 1px solid #767676;
  display: grid;
  width: 1100px;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}
.kitchen-fridge, .kitchen-freezer {
  grid-column: 1 / 2;
  background-color: #C0C0C0;
}
.kitchen-fridge {
  grid-row: 1 / 3;
}
.kitchen-freezer {
  grid-row: 3 / 4;
}
.kitchen-recipes, .kitchen-supplies {
  grid-column: 2 / 3;
}
.kitchen-recipes {
  grid-row: 1 / 2;
}
.kitchen-supplies {
  grid-row: 3 / 4;
}
.kitchen-pantry {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}
.h1-recipe {
  color: #6DBDE6
}
.h2-recipe, .recipe-show > h3 {
color: #F39883
}
.add, .delete {
  background-color: #6DBDE6;
  color: white;
  border: 1px solid #6DBDE6;
  box-shadow: 2px 2px #00B7FF;
  margin: 10px;
}
.add-recipe, .add-item, .edit-item {
  color: #6DBDE6;
}
#addRecipe, #form {
  color: #F39883;
}
@media(hover:hover) { 
  .add:hover, .delete:hover {
  background-color: #F39883;
  color: white;
  border: none;
  box-shadow: 2px 2px #767676;
  }
}