<%- include('../partials/header') %>

    <h1>Recipes</h1>
    <div class="recipe-container">
        <% recipes.forEach(function(r) { %>
            <div class="recipe">
                <a href="/recipes/<%=r.id%>">
                    <%= r.name %>
                </a>
            </div>
        <% }) %>
    </div>

<%- include('../partials/footer') %>