<%- include('../partials/header') %>

<h1 class="add-recipe">Add Recipe</h1>
<form action=<%= '/recipes' %> id="addRecipe" method="POST">
    <label>Name</label>
        <input type="text" name="name" autocomplete="off" required>
    <label>Serving Size</label>
        <input type="number" name="servingSize" autocomplete="off">
    <label>Instructions</label>
        <input type="text" name="instructions" autocomplete="off" required>
        <button type='submit' class="add">Add Recipe</button>
</form>

<%- include('../partials/footer') %>